@page "/ComponenteAppBar"

<h3>AppBar</h3>

<MudAppBar Color="Color.Dark" Fixed="false">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
    <MudSpacer />
    <MudIconButton Icon="@(Icons.Material.Filled.Home)" Link="/" Color="Color.Inherit" />
    <MudIconButton Icon="@(Icons.Custom.Brands.LinkedIn)" Color="Color.Inherit" />
</MudAppBar>

@code {

}
